* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
  text-align: center;

}
.card {
  width: 520px;
  max-width: 95%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 22px;
  padding: 32px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}
.info-item {
  min-height: 90px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  padding: 16px 18px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid rgba(255, 255, 255, 0.14);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.03),
              0 10px 20px rgba(0, 0, 0, 0.25);
}

.info-item strong {
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.75);
}

.info-item span {
  font-size: 0.95rem;
  color: #fff;
}
.button{
  display: flex;
  
}
.info-item input,
.info-item textarea {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  color: #fff;
  font-size: 0.9rem;

  outline: none;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.03),
              0 6px 12px rgba(0, 0, 0, 0.25);

  transition: 0.3s ease;
}
.info-item input::placeholder,
.info-item textarea::placeholder {
  color: rgba(255, 255, 255, 0.55);
}
.info-item input:focus,
.info-item textarea:focus {
  border-color: #8f8cff;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 0 2px rgba(143, 140, 255, 0.25),
              0 10px 20px rgba(0, 0, 0, 0.35);
}
.form-grid {
  display: grid;
  grid-template-columns: 13rem 14.5rem; /* 1 | 1 */
  gap: 16px;
}
.form-grid .full {
  grid-column: span 2;
}
.generate-btn {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(135deg, #7f7cff, #a09cff);
  color: #fff;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 12px 25px rgba(127, 124, 255, 0.4);
  transition: 0.3s ease;
}

.generate-btn:hover {
  box-shadow: 0 18px 35px rgba(127, 124, 255, 0.6);
}
